<% @exercises.tiers.each do |tier| %>
  <%= render partial: 'exercises/tier', locals: { tier: tier } %>
<% end %>

<div class='well center'>
  <p><%= link_to 'Unlock more exercises', exercises_unlocks_path %></p>
</div>

